@{
    ViewData["Title"] = "Home Page";
}
<head>
    <title>SPIDER RAT</title>
</head>



@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}
